<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jaime.apportunity">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SlideFuncionalidades"></activity>
        <activity android:name=".Funcionalidades" />
        <activity
            android:name=".MenuDespegable"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ListaBuscador"
            android:parentActivityName=".MenuDespegable" />
        <activity
            android:name=".Secciones"
            android:parentActivityName=".MenuDespegable" />
    </application>

</manifest>